<?xml version="1.0" ?>
<model>
    <name>apu-model</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Christoph Henke</name>
        <email>christoph.henke@ima-zlw-ifu.rwth-aachen.de</email>
    </author>
    <description>A model of the APU</description>
</model>
